# Restructure datasets to match 2012/2013

## Acoustic Data

First, let's look at an example of the 2012/2013 data to confirm the format we want.

In [3]:
import pandas as pd
from progressBar import log_progress
df2012 = pd.read_csv('../data/acousticData/2012_2013/Arctic_EIS_Acoustic_trawl_survey_alongtrack_summary_2012_v2.csv')
df2013 = pd.read_csv('../data/acousticData/2012_2013/Arctic_EIS_Acoustic_trawl_survey_alongtrack_summary_2012_v2.csv')
df2012.head()

,Latitude,Longitude,Bottom depth (m),Fish 38 kHz sA (m^2 nmi^-2),Zooplankton 120 kHz sA (m^2 nmi^-2),Arctic cod (No. m^-2),Saffron cod (No. m^-2),Capelin (No. m^-2),herring (No. m^-2)
0,66.043,-168.57,54.804,4.0635,0.554960,0.0,0.0,0.017604,0.0
1,66.035,-168.57,54.468,4.0422,0.312650,0.0,0.0,0.017512,0.0
2,66.027,-168.56,54.639,3.0132,0.022784,0.0,0.0,0.013054,0.0
3,66.019,-168.56,54.762,1.4204,0.016794,0.0,0.0,0.006154,0.0
4,66.012,-168.55,54.590,2.7783,0.043315,0.0,0.0,0.012036,0.0

Now let's read in and write out matching files for 2017, 2018, and 2019, starting with 2018

In [34]:
df2018 = pd.read_pickle('../data/acousticData/2018/dfSurvey2.pkl')
df2018 = df2018[['latC','lonC','depthMean','nasc']].rename(columns={'latC':'Latitude','lonC':'Longitude','depthMean':'Bottom depth (m)','nasc':'Fish 38 kHz sA (m^2 nmi^-2)'})
df2018.to_csv('../data/acousticData/2018/Arctic_EIS_Acoustic_trawl_survey_alongtrack_summary_2018.csv')

Now 2017 and 2019

In [73]:
dfSurveys = pd.read_csv('../data/acousticData/2017_2019/mbaIntegrationResults.csv')
dfSurveys = dfSurveys[dfSurveys.CLASS!= 'SURFTURB']

df2017 = dfSurveys[dfSurveys.SURVEY==201701]
df2017 = df2017.groupby(['INTERVAL','END_LATITUDE','END_LONGITUDE', 'MEAN_BOTTOM_DEPTH'])[['PRC_NASC']].sum().reset_index()
df2017 = df2017[['END_LATITUDE','END_LONGITUDE', 'MEAN_BOTTOM_DEPTH','PRC_NASC']].rename(columns={'END_LATITUDE':'Latitude','END_LONGITUDE':'Longitude','MEAN_BOTTOM_DEPTH':'Bottom depth (m)','PRC_NASC':'Fish 38 kHz sA (m^2 nmi^-2)'})
df2017.to_csv('../data/acousticData/2017_2019//Arctic_EIS_Acoustic_trawl_survey_alongtrack_summary_2017.csv')

df2019 = dfSurveys[dfSurveys.SURVEY==201901]
df2019 = df2019.groupby(['INTERVAL','END_LATITUDE','END_LONGITUDE', 'MEAN_BOTTOM_DEPTH'])[['PRC_NASC']].sum().reset_index()
df2019 = df2019[['END_LATITUDE','END_LONGITUDE', 'MEAN_BOTTOM_DEPTH','PRC_NASC']].rename(columns={'END_LATITUDE':'Latitude','END_LONGITUDE':'Longitude','MEAN_BOTTOM_DEPTH':'Bottom depth (m)','PRC_NASC':'Fish 38 kHz sA (m^2 nmi^-2)'})
df2019.to_csv('../data/acousticData/2017_2019//Arctic_EIS_Acoustic_trawl_survey_alongtrack_summary_2019.csv')

## Catch Data

This is a bit more complicated since there are two versions of these tables, both summed and by length class. I'm gonna start with length class.

In [85]:
df2012 = pd.read_csv('../data/catchData/2012_2013/Arctic_EIS_AT_survey_Arctic_cod_by_length_alongtrack_fish_per_m_squared_2012_v2.csv')
df2012

,Latitude,Longitude,0.5-1.5 cm,1.5-2.5 cm,2.5-3.5 cm,3.5-4.5 cm,4.5-5.5 cm,5.5-6.5 cm,6.5-7.5 cm,7.5-8.5 cm,...,20.5-21.5 cm,21.5-22.5 cm,22.5-23.5 cm,23.5-24.5 cm,24.5-25.5 cm,25.5-26.5 cm,26.5-27.5 cm,27.5-28.5 cm,28.5-29.5 cm,29.5-30.5 cm
0,66.043,-168.57,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,66.035,-168.57,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,66.027,-168.56,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,66.019,-168.56,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,66.012,-168.55,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,60.039,-167.99,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6266,60.031,-167.99,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6267,60.023,-167.99,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6268,60.014,-168.00,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6269,60.006,-168.00,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

Ok, so we need to make a n Interval (row) by length (column) for each species (sheet)

In [ ]:
dfSurvey = pd.read_csv('../data/catchData/2017_2019/mbaCatchResults.csv')
for survey in [201701,201901]:
    dfCur =  dfSurvey[dfSurvey.SURVEY == survey]
    for spec in dfCur.SPECIES_CODE.unique():
        dfHold = pd.DataFrame({'Interval':dfCur.INTERVAL,'Latitude':dfCur.END_LATITUDE, 'Longitude':dfCur.END_LONGITUDE})
        dfHold = dfHold.groupby(['Interval','Latitude','Longitude']).sum()
        dfHold = dfHold.reset_index()
        print(survey, spec)
        for length in log_progress(range(1,max(dfCur.LENGTH)+1), every=1):
            curLen = []
            for inter in dfHold.Interval.unique():
                curLen.append(dfCur[(dfCur.INTERVAL== inter) & (dfCur.SPECIES_CODE== 21725) & (dfCur.LENGTH == length)]['NUMBERS_NM2'].sum()/(1852*1852))
            dfHold[str(length)] = curLen
        dfHold.to_csv('../data/catchData/2017_2019/Arctic_EIS_'+str(survey)+'_'+str(spec)+'.csv')

201701 21725

VBox(children=(HTML(value=''), IntProgress(value=0, max=13)))

201701 23041

VBox(children=(HTML(value=''), IntProgress(value=0, max=13)))

201701 21735

VBox(children=(HTML(value=''), IntProgress(value=0, max=13)))

201701 21744

VBox(children=(HTML(value=''), IntProgress(value=0, max=13)))